<!DOCTYPE html>
<html>
<head>
    <title>Plagiarism Checker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div style="color: red;">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h3>PLAGIARISM CHECKER</h3>
    <form method="POST" action="/" onsubmit="showLoadingSpinner();">
        <div id="text-area-container">
            <textarea id="text-area-1" name="text1" rows="10" cols="50" placeholder="Enter text 1"></textarea>
            <textarea id="text-area-2" name="text2" rows="10" cols="50" placeholder="Enter text 2"></textarea>
        </div>
        <div id="button-container">
            <button id="submit-btn" type="submit">Check Plagiarism</button>
            <button id="clear-btn" type="button" onclick="clearTextAreas()">Clear</button>
        </div>
    </form>
    <div id="loading-spinner">
        <div>Loading...</div>
    </div>
</body>
</html>
